In [1]:
import pandas as pd

In [22]:
df = pd.read_csv("../dataset/Hotels-Jakarta.csv")

df

,hotel_name,hotel_name_link,review_score,review_score_text,review_score_title,hotel_image,hotel_price
0,Ascott Sudirman Jakarta,\r\n/hotel/id/ascott-sudirman-jakarta-jakarta....,8.7,"1,259 reviews",Fabulous,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 1,062,187"
1,Ascott Jakarta,\r\n/hotel/id/ascott-jakarta.en-gb.html?aid=30...,8.6,"1,811 reviews",Fabulous,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 934,725"
2,Four Seasons Hotel Jakarta,\r\n/hotel/id/four-seasons-jakarta-jakarta.en-...,9.2,409 reviews,Superb,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 2,763,882"
3,Shangri-La Hotel Jakarta,\r\n/hotel/id/shangri-la-jakarta.en-gb.html?ai...,8.9,685 reviews,Fabulous,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 1,667,597"
4,Ascott Kuningan Jakarta,\r\n/hotel/id/ascott-kuningan-jakarta.en-gb.ht...,8.6,865 reviews,Fabulous,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 1,274,625"
...,...,...,...,...,...,...,...
671,Ninjas room cengkareng,\r\n/hotel/id/ninjas-room-cengkareng.en-gb.htm...,6.5,6 reviews,Review score,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 264,000"
672,OYO 3754 Prosperity Mansion,\r\n/hotel/id/airy-eco-taman-sari-mangga-besar...,3.6,4 reviews,Review score,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 125,746"
673,Borneo Hostel,\r\n/hotel/id/borneo-hostel.en-gb.html?aid=304...,5.0,7 reviews,Review score,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 277,894"
674,Oriental Residence Pasar Baru,\r\n/hotel/id/zen-rooms-oriental-residence.en-...,6.7,16 reviews,Review score,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 140,060"
675,Mediterania Garden Residence 2,\r\n/hotel/id/dave-property-mgr2-tower-h.en-gb...,5.7,6 reviews,Review score,https://cf.bstatic.com/xdata/images/hotel/squa...,"Rp 564,000"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 7 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   hotel_name          676 non-null    object
 1   hotel_name_link     676 non-null    object
 2   review_score        676 non-null    float64
 3   review_score_text   676 non-null    object
 4   review_score_title  676 non-null    object
 5   hotel_image         676 non-null    object
 6   hotel_price         676 non-null    object
dtypes: float64(1), object(6)
memory usage: 37.1+ KB

In [4]:
# === 2. Preprocessing ===
df['review_score_text'] = df['review_score_text'].str.replace(',', '').str.replace(' reviews', '').astype(int)
df['hotel_price'] = df['hotel_price'].str.replace('Rp', '').str.replace('.', '').str.replace(',', '').astype(int)

In [5]:
# One-hot encode review_score_title
df = pd.get_dummies(df, columns=['review_score_title'])

In [7]:
df

,hotel_name,hotel_name_link,review_score,review_score_text,hotel_image,hotel_price,review_score_title_Exceptional,review_score_title_Fabulous,review_score_title_Good,review_score_title_Review score,review_score_title_Superb,review_score_title_Very good
0,Ascott Sudirman Jakarta,\r\n/hotel/id/ascott-sudirman-jakarta-jakarta....,8.7,1259,https://cf.bstatic.com/xdata/images/hotel/squa...,1062187,False,True,False,False,False,False
1,Ascott Jakarta,\r\n/hotel/id/ascott-jakarta.en-gb.html?aid=30...,8.6,1811,https://cf.bstatic.com/xdata/images/hotel/squa...,934725,False,True,False,False,False,False
2,Four Seasons Hotel Jakarta,\r\n/hotel/id/four-seasons-jakarta-jakarta.en-...,9.2,409,https://cf.bstatic.com/xdata/images/hotel/squa...,2763882,False,False,False,False,True,False
3,Shangri-La Hotel Jakarta,\r\n/hotel/id/shangri-la-jakarta.en-gb.html?ai...,8.9,685,https://cf.bstatic.com/xdata/images/hotel/squa...,1667597,False,True,False,False,False,False
4,Ascott Kuningan Jakarta,\r\n/hotel/id/ascott-kuningan-jakarta.en-gb.ht...,8.6,865,https://cf.bstatic.com/xdata/images/hotel/squa...,1274625,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...
671,Ninjas room cengkareng,\r\n/hotel/id/ninjas-room-cengkareng.en-gb.htm...,6.5,6,https://cf.bstatic.com/xdata/images/hotel/squa...,264000,False,False,False,True,False,False
672,OYO 3754 Prosperity Mansion,\r\n/hotel/id/airy-eco-taman-sari-mangga-besar...,3.6,4,https://cf.bstatic.com/xdata/images/hotel/squa...,125746,False,False,False,True,False,False
673,Borneo Hostel,\r\n/hotel/id/borneo-hostel.en-gb.html?aid=304...,5.0,7,https://cf.bstatic.com/xdata/images/hotel/squa...,277894,False,False,False,True,False,False
674,Oriental Residence Pasar Baru,\r\n/hotel/id/zen-rooms-oriental-residence.en-...,6.7,16,https://cf.bstatic.com/xdata/images/hotel/squa...,140060,False,False,False,True,False,False
675,Mediterania Garden Residence 2,\r\n/hotel/id/dave-property-mgr2-tower-h.en-gb...,5.7,6,https://cf.bstatic.com/xdata/images/hotel/squa...,564000,False,False,False,True,False,False

In [ ]:
# === 3. Fitur yang digunakan untuk filtering ===
features = ['review_score','review_score_text', 'hotel_price'] + \
           [col for col in df.columns if col.startswith('review_score_title_')]

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 676 entries, 0 to 675
Data columns (total 12 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   hotel_name                       676 non-null    object
 1   hotel_name_link                  676 non-null    object
 2   review_score                     676 non-null    float64
 3   review_score_text                676 non-null    int64
 4   hotel_image                      676 non-null    object
 5   hotel_price                      676 non-null    int64
 6   review_score_title_Exceptional   676 non-null    bool
 7   review_score_title_Fabulous      676 non-null    bool
 8   review_score_title_Good          676 non-null    bool
 9   review_score_title_Review score  676 non-null    bool
 10  review_score_title_Superb        676 non-null    bool
 11  review_score_title_Very good     676 non-null    bool
dtypes: bool(6), float64(1), int64(2), object(3)
memory usage: 35.8+ KB

In [13]:
df[features]

,review_score,review_score_text,hotel_price,review_score_title_Exceptional,review_score_title_Fabulous,review_score_title_Good,review_score_title_Review score,review_score_title_Superb,review_score_title_Very good
0,8.7,1259,1062187,False,True,False,False,False,False
1,8.6,1811,934725,False,True,False,False,False,False
2,9.2,409,2763882,False,False,False,False,True,False
3,8.9,685,1667597,False,True,False,False,False,False
4,8.6,865,1274625,False,True,False,False,False,False
...,...,...,...,...,...,...,...,...,...
671,6.5,6,264000,False,False,False,True,False,False
672,3.6,4,125746,False,False,False,True,False,False
673,5.0,7,277894,False,False,False,True,False,False
674,6.7,16,140060,False,False,False,True,False,False
675,5.7,6,564000,False,False,False,True,False,False

In [ ]:
# Normalisasi fitur
from sklearn.preprocessing import StandardScaler
from sklearn.metrics.pairwise import cosine_similarity
scaler = StandardScaler()
scaled_features = scaler.fit_transform(df[features])

# Hitung cosine similarity antar hotel
similarity_matrix = cosine_similarity(scaled_features)

array([[ 1.        ,  0.98029499,  0.26769619, ..., -0.32152953,
        -0.32349589, -0.30083189],
       [ 0.98029499,  1.        ,  0.23291988, ..., -0.27834118,
        -0.2953626 , -0.27635744],
       [ 0.26769619,  0.23291988,  1.        , ..., -0.30048218,
        -0.30387989, -0.19057882],
       ...,
       [-0.32152953, -0.27834118, -0.30048218, ...,  1.        ,
         0.87726683,  0.97554174],
       [-0.32349589, -0.2953626 , -0.30387989, ...,  0.87726683,
         1.        ,  0.90623158],
       [-0.30083189, -0.27635744, -0.19057882, ...,  0.97554174,
         0.90623158,  1.        ]], shape=(676, 676))

In [ ]:
# Pilih index hotel sebagai acuan, misalnya hotel pada index 0
hotel_index = 0

# Ambil vektor similarity dari hotel tersebut terhadap semua hotel
similarities = similarity_matrix[hotel_index]

# Urutkan dari yang paling mirip ke paling tidak mirip (kecuali hotel sekarang)
similar_hotel_indices = similarities.argsort()[::-1]  # descending
similar_hotel_indices = similar_hotel_indices[similar_hotel_indices != hotel_index]  # hilangkan hotel sekaranag

# Tampilkan top N hotel yang mirip
top_n = 5
for i in range(top_n):
    idx = similar_hotel_indices[i]
    print(f"{i+1}. {df.loc[idx, 'hotel_name']} (Similarity: {similarities[idx]:.4f})")

1. DoubleTree by Hilton Jakarta - Diponegoro (Similarity: 0.9972)
2. Fraser Residence Menteng Jakarta (Similarity: 0.9969)
3. Ascott Jakarta (Similarity: 0.9803)
4. Ascott Kuningan Jakarta (Similarity: 0.9724)
5. Wonderloft Hostel (Similarity: 0.9672)

In [28]:
# === 4. Fungsi Rekomendasi Hotel ===
def recommend_hotel(hotel_index, top_n=3):
    similarity_scores = list(enumerate(similarity_matrix[hotel_index]))
    similarity_scores = sorted(similarity_scores, key=lambda x: x[1], reverse=True)
    similar_indices = [i[0] for i in similarity_scores[1:top_n+1]]
    return df.iloc[similar_indices][['hotel_name', 'review_score', 'hotel_price']]

# === 5. Contoh: Rekomendasi hotel mirip dengan indeks 0 ===
print("Hotel yang mirip dengan:", df.iloc[0]['hotel_name'])
print(recommend_hotel(0))

Hotel yang mirip dengan: Ascott Sudirman Jakarta
                                   hotel_name  review_score  hotel_price
8   DoubleTree by Hilton Jakarta - Diponegoro           8.6       898425
43           Fraser Residence Menteng Jakarta           8.7       800872
1                              Ascott Jakarta           8.6       934725